<ul>
    <div id="spec">
      <h2 li>{{weaponspec.name_weapon | uppercase}} spec</h2>
      <ul>
        <li>ATK1 PP Rec: {{(Recovery() * weaponspec.atk1_rest)}} Frames: {{weaponspec.atk1_frames}}</li>
        <li>ATK2 PP Rec: {{Recovery() * weaponspec.atk2_rest}} Frames: {{weaponspec.atk2_frames}}</li>
        <li>ATK3 PP Rec: {{Recovery() * weaponspec.atk3_rest}} Frames: {{weaponspec.atk3_frames}}</li>
        <li>Ave ATK Rec: {{mod_weapon_atkpp() | number:'.2-2'}}</li>
        <li>PP Reg: {{mod_weapon_atkpp() | number:'.2-2'}}</li>
        <li>PP Rec / Frame: {{(mod_weapon_atkpp() + mod_common_regen())| number:'.2-2'}}</li>
        <li>Frames / PP Rec: {{(1/(mod_weapon_atkpp() + mod_common_regen())) | number:'.2-2'}}</li>
      </ul>
    </div>
    <div id="option">
      <h2 li>OPTION</h2>
      <ul>
        <li>
          <md-input-container>
            <input mdInput placeholder="Recovery UP: (%)" [(ngModel)]="recup">
          </md-input-container>
        </li>
        <li>
          <md-input-container>
            <input mdInput placeholder="Regeneration UP: (%)" [(ngModel)]="regup">
          </md-input-container>
        </li>
        <li>
          <md-input-container>
            <input mdInput placeholder="LESS Consumption: (%)" [(ngModel)]="lesscon">
          </md-input-container>
        </li>
      </ul>
    </div>
    <li *ngFor="let weapon of weapons">
      <ul>
        <h2><li>PA name：{{weapon.name_photonart}}</li></h2>
        <li>Consumption: {{(weapon.consumption)}} modified <span style="font-weight: 700">{{(Consum() * weapon.consumption) | number:'.2-2'}}</span></li>
        <li>Damage：{{weapon.damage}}</li>
        <li>Frames：{{weapon.frames}}</li>
        <li>Net DPS: {{(weapon.damage/weapon.frames*60) | number:'.2-2'}}</li>
        <li>Gross DPS: {{(weapon.damage/(weapon.frames+weapon.consumption * (1/(weapon_atkpp() + common_regen()))) * 60 ) | number:'.2-2'}} modified
          <span style="font-weight: 700">{{(weapon.damage/(weapon.frames+Consum() * weapon.consumption * (1/(mod_weapon_atkpp() + mod_common_regen()))) * 60) | number:'.2-2'}}
            |
            <md-chip color="primary"selected="true">
              {{((((weapon.damage/(weapon.frames+Consum() * weapon.consumption * (1/(mod_weapon_atkpp() + mod_common_regen()))) * 60) - (weapon.damage/(weapon.frames+weapon.consumption * (1/(weapon_atkpp() + common_regen()))) * 60 )) / (weapon.damage/(weapon.frames+weapon.consumption * (1/(weapon_atkpp() + common_regen()))) * 60 )) * 100 ) | number:'.2-2'}} % Damage UP!!
            </md-chip>
          </span>
        </li>
      </ul>
    </li>
</ul>
