<ul>
  <div id="spec">
    <h2 li>{{weaponspec.name_weapon | uppercase}} spec</h2>
    <ul>
      <li>ATK1 PP Rec: {{ATK_Rec(weaponspec.atk1_rest, weaponspec.atk1_hitcount) | number:'.2-2'}} Frames: {{weaponspec.atk1_frames}}</li>
      <li>ATK2 PP Rec: {{ATK_Rec(weaponspec.atk2_rest, weaponspec.atk2_hitcount) | number:'.2-2'}} Frames: {{weaponspec.atk2_frames}}</li>
      <li>ATK3 PP Rec: {{ATK_Rec(weaponspec.atk3_rest, weaponspec.atk3_hitcount) | number:'.2-2'}} Frames: {{weaponspec.atk3_frames}}</li>
      <li>Ave ATK Rec(per Frame): {{ATK_Rec_gross(weaponspec.atk1_hitcount, weaponspec.atk2_hitcount, weaponspec.atk3_hitcount) | number:'.2-2'}}</li>
      <li>PP Reg(per Frame): {{Regene_mod() | number:'.2-2'}}</li>
      <li>PP per Frame: {{PPpF_mod(weaponspec.atk1_hitcount, weaponspec.atk2_hitcount, weaponspec.atk3_hitcount) | number:'.2-2'}}</li>
      <li>Frames per PP: {{FpPP_mod(weaponspec.atk1_hitcount, weaponspec.atk2_hitcount, weaponspec.atk3_hitcount) | number:'.2-2'}}</li>
    </ul>
  </div>
  <div id="option">
    <h2 li>OPTION</h2>
    <ul>
      <li>
        <md-input-container>
          <input mdInput placeholder="Recovery UP: (%)" [(ngModel)]="recup">
        </md-input-container>
      </li>
      <li>
        <md-input-container>
          <input mdInput placeholder="Recovery UP per hit: " [(ngModel)]="rec_up_perhit">
        </md-input-container>
      </li>
      <li>
        <md-input-container>
          <input mdInput placeholder="Regeneration UP: (%)" [(ngModel)]="regup">
        </md-input-container>
      </li>
      <li>
        <md-input-container>
          <input mdInput placeholder="LESS Consumption: (%)" [(ngModel)]="lesscon">
        </md-input-container>
      </li>
    </ul>
  </div>
  <li *ngFor="let weapon of weapons; let idx = index;">
    <ul>
      <h2><li>{{weapon.name_photonart}}</li></h2>
      <li>Consumption: {{weapon.consumption}} modified <span style="font-weight: 700">{{Consumption(idx) | number:'.2-2'}}</span></li>
      <li>Damage：{{weapon.damage | number:'.2-2'}}</li>
      <li>Frames：{{weapon.frames}}</li>
      <li>Net DPS: {{netDPS(idx) | number:'.2-2'}}</li>
      <li>Gross DPS: {{grossDPS_base(idx) | number:'.2-2'}} modified
        <span style="font-weight: 700">{{grossDPS_mod(idx, weaponspec.atk1_hitcount, weaponspec.atk2_hitcount, weaponspec.atk3_hitcount) | number:'.2-2'}}
           -
            <md-chip color="primary"selected="true">
              {{Up_rate_grossDPS(idx, weaponspec.atk1_hitcount, weaponspec.atk2_hitcount, weaponspec.atk3_hitcount) | number:'.2-2'}} % Damage UP
            </md-chip>
          </span>
      </li>
    </ul>
  </li>
</ul>
